/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/Videos
/.ICEauthority
/.config
/.cache
/.mozilla
/.ecryptfs
/.sudo_as_admin_successful
/.gnupg
/.Private
/.bash_history
/.local
/Android
/.zdirs
/.thunderbird
/.ssh
/.lastpass
/.fonts
/.filezilla
/.android
/.VirtualBox
/.Skype
/.cow
/.zsh_history
/.purple
/.atom/packages
/.atom/projects.cson
/.atom/nohup.out
/.atom/.apm/
/.virtualenvs
/.TelegramDesktop
/bin
/.pki
/.AndroidStudio2.2
/.gconf/apps/guake
/Projects
/.npm
/.nv
/.nvidia-settings-rc
/.thumbnails
