/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/Videos
/.ICEauthority
/.config
/.cache
/.mozilla
/.ecryptfs
/.sudo_as_admin_successful
/.gnupg
/.Private
/.bash_history
/.local
/Android
/.zdirs
/.thunderbird
/.ssh
/.lastpass
/.fonts
/.filezilla
/.android
/.VirtualBox
/.Skype
/.cow
/.zsh_history
/.purple
/.atom/packages
/.atom/projects.cson
/.atom/nohup.out
/.atom/.apm/
/.virtualenvs
/.TelegramDesktop
/bin
/.pki
/.AndroidStudio2.2
/.gconf/apps/guake
/Projects
/.npm
/.nv
/.nvidia-settings-rc
/.thumbnails
/.nano
/.gimp-2.8
/.kde
/.AndroidStudio2.3
/.gksu.lock
/.gradle
/.java
/.oracle_jre_usage
/.oh-my-zsh
/.zcompdump
/.zcompdump-T440-5.2
/.fprint
/.yarnrc
/.q3a
/.node_repl_history
/.pam_environment
/GAME
