"*":
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    playAudio:
      audioclip: "../audioclips/typewriter.wav"
      enabled: true
    plugins:
      playAudio: true
      screenShake: true
    screenShake:
      enabled: false
  "atom-beautify":
    general:
      _analyticsUserId: "6a8d55b9-b443-478f-9891-5f357f673f08"
    js:
      beautify_on_save: true
      default_beautifier: "ESLint Fixer"
    php:
      default_beautifier: "PHPCBF"
  core:
    disabledPackages: [
      "activate-power-mode"
      "react"
      "linter-eslint"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "ubuntu"
    fontSize: 16
    invisibles: {}
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "a51a93b8-a807-4f6d-9a63-8bd5346e8453"
  "git-diff": {}
  "highlight-selected": {}
  "linter-tslint":
    useLocalTslint: false
  "linter-ui-default": {}
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "one-dark-ui":
    fontSize: 14
  pigments: {}
  welcome:
    showOnStartup: false
